*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
output.json

# Include AAR files in libs (so ghost.aar can be committed)
!app/libs/*.aar
